fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
openpyxl==3.1.5
pydantic==2.10.4
email-validator==2.2.0
SQLAlchemy==2.0.36
asyncpg==0.30.0
alembic==1.14.0
PyJWT==2.10.1
argon2-cffi==23.1.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
